
{% load staticfiles %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'recordSystem/globalScripts.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'recordSystem/globalStyles.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div id="topControlBar">
        <div id="topControlBarTextLeft" style="margin:auto;">
            <a href="{% url 'recordSystem:indexPage' %}"><h3>HealthNet</h3></a>
        </div>
</div>
<div id="pageBody">

<h1 style="font-family: Open Sans, sans serfif;">404</h2>
<p style="font-family: Open Sans, sans serfif;">This page does not exsist! Please navigate back to the home page with the link above</p>
</div>
